@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Gestion Pfe EMI</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Gestion Pfe EMI</h2>
        <p>
            Gestion Pfe EMI is a roject that use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
  
</div>